$dark-blue: #004E80;
$darkgray: #6A6866;
$light-tan: #E7DD96;

$dark-red: #7E2126;

@import url(http://fonts.googleapis.com/css?family=Oswald:700,300,400&subset=latin,latin-ext);

$header-font-family: 'Oswald', sans-serif;