/* Begin Typography & Colors */
body {
	margin: 0;
	padding: 0;	
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	line-height: 1.875;
	color: #444;
	width: 100%;
	background: url(../img/bg.jpg);
	background-color: #F6F6F6;
}

a {
	color: #FF3F00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

hr {
	height: 2px;
	background-color: #DDDDDD;
	width: 80%;
	max-width: 50em;
	border:0;
	margin-bottom: 50px;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
	line-height: 1.7;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 5.625em;
	font-weight: 700;
}

h2 {
	font-size: 2.625em;
}

h3 {
	font-size: 1.52em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}


.textH2 {
	font: 42px/60px 'Oswald';
	font-weight: 300;
	padding: 0px;
	margin: 0px;
	text-indent: 0px;
	display: inline-block;
}

.textsmall {
	font-size: 14px;
	color: #999999;
}

ul, ol {
	margin:0;
	text-align:left;
	display: inline-block;
}


/* -----------------------------------
---------------------------------
---------------------------- */

.page-wrap {
	max-width: 50em;
	padding: 1em;
	margin: 0 auto;
}